<?xml version="1.0"?>
<robot xmlns:xacro = "https://www.ros.org/wiki/xacro">
<xacro:include filename="colours.xacro" />

<link name ="base_link">
  

</link>

<joint name="chassis_joint" type="fixed">
  <origin xyz="-.1 0 0"/>
  <parent link="base_link"/>
  <child link="chassis"/>
</joint>
<link name = "chassis">
  <visual>
  <origin xyz=".15 0 .075"/>
    <geometry>
      <box size="0.3 0.3 0.15"/>
    </geometry>
    <material name="grey"/>
  </visual>
</link>

</robot>